<div class="jumbotron">
<h1>WELCOME TO FOUND APP</h1>

<p>AND WE GROW BIGGER EVERY MINUTE ..to find your lost items using me just sighn up and post </p>
Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>